{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <h2>Liste des lieux</h2>
<h3>Filtrer les lieux</h3>
<form action="{{ path('lieu_recherche') }}" method="GET">
    <div class="d-inline-block">
        <input type="text" name="recherche" class="form-control">
    </div>
    <div class="d-inline-block">
        <input type="submit" value="Rechercher">
        <img alt="plus" class="plus" src="{{ asset('build/images/loupe.svg') }}">
    </div>
</form>


{% if rechercher is defined %}
<div class="text-center">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Ville</th>
            <th>Rue</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lieu in listeLieux %}
            <tr>
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.nomLieu }}</td>
                <td>{{ lieu.Ville }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
                <td>{{ lieu.rue }}</td>
                <td>
                    <div class="d-inline-block">
                        <a href="{{ path('lieu_show', {'id': lieu.id}) }}" class="btn btn-primary">
                            <img alt="plus" class="plus" src="{{ asset('build/images/look.svg') }}"></a>
                    </div>
                    <div class="d-inline-block">
                        <a href="{{ path('lieu_edit', {'id': lieu.id}) }}" class="btn btn-success">
                            <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                    </div>
                    <div class="d-inline-block">
                        {{ include('lieu/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="text-center">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Rue</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for lieu in lieux %}
                <tr>
                    <td>{{ lieu.id }}</td>
                    <td>{{ lieu.nomLieu }}</td>
                    <td>{{ lieu.Ville }}</td>
                    <td>{{ lieu.rue }}</td>
                    <td>{{ lieu.latitude }}</td>
                    <td>{{ lieu.longitude }}</td>
                    <td>
                        <div class="d-inline-block">
                            <a href="{{ path('lieu_show', {'id': lieu.id}) }}" class="btn btn-primary">
                                <img alt="plus" class="plus" src="{{ asset('build/images/look.svg') }}"></a>
                        </div>
                        <div class="d-inline-block">
                            <a href="{{ path('lieu_edit', {'id': lieu.id}) }}" class="btn btn-success">
                                <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                        </div>
                        <div class="d-inline-block">
                            {{ include('lieu/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

        <a href="{{ path('lieu_new') }}" class="bouton">
            <img alt="plus" class="plus" src="{{ asset('build/images/add.svg') }}"> Ajouter un lieu
        </a>
        {% endblock %}
