{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <div class="text-center">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>NomLieu</th>
                <td>{{ lieu.nomLieu }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
            </tbody>
        </table>

        <button class="bouton"><a href="{{ path('lieu_index') }}">Retour à la liste</a></button>

        <button class="bouton"><a href="{{ path('lieu_edit', {'id': lieu.id}) }}">Modifier</a></button>

    </div>
{% endblock %}
