{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2>Inscription</h2>
        <div class="text-center">
            {{ form_start(registrationForm,{'method': 'post', 'attr': {'class': ''}}) }}


            <div class="row">
                <div class="col-6">
                    {{ form_label(registrationForm.site) }}
                    {{ form_widget(registrationForm.site, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.site) }}

                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}

                    {{ form_label(registrationForm.pseudo) }}
                    {{ form_widget(registrationForm.pseudo, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.pseudo) }}

                    {{ form_label(registrationForm.prenom) }}
                    {{ form_widget(registrationForm.prenom, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.prenom) }}
                </div>
                <div class="col-6">
                    {{ form_label(registrationForm.nom) }}
                    {{ form_widget(registrationForm.nom, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.nom) }}

                    {{ form_label(registrationForm.telephone) }}
                    {{ form_widget(registrationForm.telephone, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.telephone) }}

                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}

                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>
            </div>


            {{ form_row(registrationForm.submit, {'attr': {'class':'bouton'}}) }}


        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


    </div>
    {{ form_end(registrationForm) }}


{% endblock %}
