{{ form_start(form) }}
<div class="container">
    <div class="form-group ">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
            {{ form_label(form.nom)}}
            {{form_widget(form.nom)}}
            {{ form_errors(form.nom) }}


            {{ form_label(form.dateDebut)}}
            {{form_widget(form.dateDebut)}}
            {{ form_errors(form.dateDebut) }}


            {{ form_label(form.dateCloture)}}
            {{form_widget(form.dateCloture)}}
            {{ form_errors(form.dateCloture) }}


            {{ form_label(form.nbInscriptionsMax)}}
            {{form_widget(form.nbInscriptionsMax)}}
            {{ form_errors(form.nbInscriptionsMax) }}


            {{ form_label(form.duree)}}
            {{form_widget(form.duree)}}
            {{ form_errors(form.duree) }}


            {{ form_label(form.descriptionInfos)}}
            {{form_widget(form.descriptionInfos)}}
            {{ form_errors(form.descriptionInfos) }}
            </div>
            <div class="col-6">
            {{ form_label(form.organisateur)}}
            {{form_widget(form.organisateur)}}
            {{ form_errors(form.organisateur) }}


            {{ form_label(form.site)}}
            {{form_widget(form.site)}}
            {{ form_errors(form.site) }}


            {{ form_label(form.lieu)}}
            {{form_widget(form.lieu)}}
            {{ form_errors(form.lieu) }}
            </div>
        </div>



        {{ form_row(form.submit) }}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


    </div>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
