{% extends 'base.html.twig' %}

{% block title %}
Annuler une sortie
{% endblock %}

{% block body %}
<div class="text-center">
    <table class="table">
        <tbody>
        <tr>
            <th>Nom de la sortie</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <th>Date de la sortie :</th>
            <td>Le {{ sortie.dateDebut | localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }} </td>

        </tr>


        </tbody>


    </table>

    <div class="row">
        <div class="col">
        Nom de la sortie : {{ sortie.nom }}
        <br>
        Date de la sortie : {{ sortie.dateDebut | date('dd/mm/yyyy') }}
        <br>
        Nom de l'organisateur : {{ sortie.organisateur }}
            <br>
        Lieu : {{ sortie.lieu.nomLieu }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}

        {{ form_start(form) }}

        {{ form_label(form.motif)}}
        {{form_widget(form.motif)}}
        {{ form_errors(form.motif) }}

        {{ form_row(form.submit) }}

        {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}





