{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscris/Places</th>
                <th>Etat</th>
                <th>Inscris</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptions }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>
                    {% if sortie.etat == 'CRE' %}
                    En création
                    {% elseif sortie.etat == 'OUV' %}
                    Ouverte
                    {% elseif sortie.etat == 'ENC' %}
                    En cours
                    {% elseif sortie.etat == 'PAS' %}
                    Passée
                    {% elseif sortie.etat == 'ANN' %}
                    Fermée
                {% endif %}
                </td>
                <td>
                    {% if sortie.estInscris(app.user) %}
                     X
                        {% else %}

                    {% endif %}
                </td>
                <td>{{ sortie.organisateur }}</td>
                <td>
                    {% if sortie.estInscris(app.user) %}
                    <a href="{{ path('sortie_remove_participant', {'id': sortie.id}) }}">Se désinscrire</a>
                    {% else %}
                    <a href="{{ path('sortie_add_participant', {'id': sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}
