{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <h1>Les sorties proposées</h1>

    <div class="text-center formSearch col-12">
        <div class="form-group ">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="">
                        {{ form_row(form.site) }}
                    </div>
                    <div class="">
                        {{ form_row((form.nom)) }}
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="">
                        {{ form_row((form.dateMin)) }}
                    </div>
                    <div class="">
                        {{ form_row((form.dateMax)) }}
                    </div>
                </div>

                <div class="col-md-4 col-12 text-left float-right">
                    <table class="tableCustom">

                        {% for i in 0..(form.checkbox|length - 1) %}
                            <tr>
                                <td>{{ form_widget(form.checkbox[i]) }}</td>
                                <td>{{ form_label(form.checkbox[i]) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div>

            </div>
            <div class="col-12">
                {{ form_row((form.rechercher)) }}
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_end(form) }}
        </div>
    </div>
    <div class="text-center btnNewSortie">
        <a href="{{ path('sortie_new') }}" class="bouton btnNew">
            <img alt="plus" class="plus" src="{{ asset('build/images/add.svg') }}"> Ajouter une sortie
        </a>
    </div>

    <div class="row d-flex justify-content-center">
        {% for sortie in sorties %}
            <div class="col-md-3 col-12 uneSortie">
                <div class="row text-center more_space">
                    <h4 class="col-12 align-middle">
                        {{ sortie.nom }}
                    </h4>
                    <div class="col-12">Organisateur :<br>{{ sortie.organisateur }}<br>
                    </div>
                    <div class="col-12">Places prises : {{ sortie.nbInscriptions }}/{{ sortie.nbInscriptionsMax }}</div>
                    <div class="col-12">Date de la sortie
                        :<br>{{ sortie.dateDebut  ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</div>
                    <div class="col-12">Date de clôture des inscriptions
                        :<br>{{ sortie.dateCloture ? sortie.dateCloture|date('d-m-Y H:i') : '' }}</div>
                    <div class="col-12">Etat :
                        {% if sortie.etat == 'CRE' %}
                            En création
                        {% elseif sortie.etat == 'OUV' %}
                            Ouverte
                        {% elseif sortie.etat == 'ENC' %}
                            En cours
                        {% elseif sortie.etat == 'PAS' %}
                            Passée
                        {% elseif sortie.etat == 'ANN' %}
                            Fermée
                        {% elseif sortie.etat == 'CLO' %}
                            Inscriptions cloturées
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {% if sortie.organisateur != app.user %}
                            {% if sortie.estInscris(app.user) %}
                                {% if sortie.etat == 'OUV' %}
                                    Vous êtes inscris -
                                    <a href="{{ path('sortie_remove_participant', {'id': sortie.id}) }}">Se
                                        désinscrire</a>
                                {% else %}
                                    Vous êtes inscris
                                {% endif %}
                            {% else %}
                                {% if sortie.etat == 'OUV' and sortie.nbInscriptions < sortie.nbInscriptionsMax %}
                                    Vous n'êtes pas inscris -
                                    <a href="{{ path('sortie_add_participant', {'id': sortie.id}) }}">S'inscrire</a>
                                {% else %}
                                    Vous n'êtes pas inscris
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher la sortie</a>
                    </div>
                    <div class="col-12">
                        {% if app.user == sortie.organisateur and (sortie.etat == 'OUV' or sortie.etat == 'CRE') %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier/Publier la sortie</a>
                        {% endif %}
                    </div>
                    <div class="col-12">
                    {% if sortie.organisateur == app.user and (sortie.etat == 'OUV' or sortie.etat == 'CRE') %}
                        <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler la sortie</a>
                    {% endif %}
                    </div>
                </div>


            </div>


        {% else %}
            <td colspan="9">Aucune sortie avec les critères spécifiés</td>
        {% endfor %}
    </div>
    <div class="text-center btnNewSortie">
    <a href="{{ path('sortie_new') }}" class="bouton btnNew">
        <img alt="plus" class="plus" src="{{ asset('build/images/add.svg') }}"> Ajouter une sortie
    </a>
    </div>



{% endblock %}
