{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}



    {{ form_start(form) }}
    {{ form_row(form.site) }}
    {{ form_row((form.nom)) }}
    {{ form_row((form.dateMin)) }}
    {{ form_row((form.dateMax)) }}
    {{ form_row((form.checkbox)) }}
    {{ form_row((form.rechercher)) }}
    {{ form_end(form) }}

    <h1>Sortie index</h1>


    <h2>Liste des sorties</h2>
<div class="text-center">

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscris/Places</th>
                <th>Etat</th>
                <th>Inscris</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut  ? sortie.dateDebut|date('d-m-Y H:i') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d-m-Y H:i') : '' }}</td>
                <td>{{ sortie.nbInscriptions }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>
                    {% if sortie.etat == 'CRE' %}
                    En création
                    {% elseif sortie.etat == 'OUV' %}
                    Ouverte
                    {% elseif sortie.etat == 'ENC' %}
                    En cours
                    {% elseif sortie.etat == 'PAS' %}
                    Passée
                    {% elseif sortie.etat == 'ANN' %}
                    Fermée
                {% endif %}
                </td>
                <td>
                    {% if sortie.estInscris(app.user) %}
                     X
                        {% else %}

                    {% endif %}
                </td>
                <td>{{ sortie.organisateur }}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% if app.user == sortie.organisateur %}
                        {% if sortie.etat == 'OUV' or sortie.etat == 'CRE' %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                            {#<a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>  méthode ctrller à définir#}
                            {% endif %}
                        {% if sortie.etat == 'CRE' %}
                            {#<a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>  méthode ctrller à définir#}
                        {% endif %}
                    {% elseif not sortie.estInscris(app.user) and sortie.nbInscriptions < sortie.nbInscriptionsMax and sortie.etat == 'OUV' %}
                        <a href="{{ path('sortie_add_participant', {'id': sortie.id}) }}">S'inscrire</a>
                    {% elseif sortie.estInscris(app.user) and sortie.etat == 'OUV' %}
                        <a href="{{ path('sortie_remove_participant', {'id': sortie.id}) }}">Se désinscrire</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}" class="bouton">
        <img alt="plus" class="plus" src="{{ asset('build/images/add.svg') }}"> Ajouter une sortie
    </a>


</div>
{% endblock %}
