{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateDebut</th>
                <th>Duree</th>
                <th>DateCloture</th>
                <th>NbInscriptionsMax</th>
                <th>DescriptionInfos</th>
                <th>UrlPhoto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.descriptionInfos }}</td>
                <td>{{ sortie.urlPhoto }}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}
</div>
<div class="modal fade" id="ModalAjoutLieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un lieu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    {{ form_start(formLieu) }}

                    {{ form_label(formLieu.nomLieu)}}
                    {{form_widget(formLieu.nomLieu)}}
                    {{ form_errors(formLieu.nomLieu) }}
                    <br>
                    {{ form_label(formLieu.rue)}}
                    {{form_widget(formLieu.rue)}}
                    {{ form_errors(formLieu.rue) }}
                    <br>
                    {{ form_label(formLieu.latitude)}}
                    {{form_widget(formLieu.latitude)}}
                    {{ form_errors(formLieu.latitude) }}
                    <br>
                    {{ form_label(formLieu.longitude)}}
                    {{form_widget(formLieu.longitude)}}
                    {{ form_errors(formLieu.longitude) }}
                    <br>


                    {{ form_end(formLieu) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bouton" data-dismiss="modal">Fermer</button>


                <button type="button" class="btn bouton"><a href="{{ path('lieu_new') }}">Ajouter</a></button>
            </div>
        </div>
    </div>
</div>
</div>