{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>
    <div class="text-center">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
            </tbody>
        </table>

        <button class="bouton"><a href="{{ path('ville_index') }}">Retour à la liste</a></button>

        <button class="bouton"><a href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a></button>

    </div>
{% endblock %}
