<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container-fluid" id="containerNav">
            <header>
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <!-- Brand -->
                    <div id="logo">
                        <a class="navbar-brand scroll" href="../"><img alt="logo"
                                                                       src="{{ asset('build/images/wine-glasses.svg') }}"></a>
                        <span><strong>Sortir</strong>.com | </span>
                    </div>

                    <!-- Bouton responsive -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Liens -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link nav-link-color" href="#">Villes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-color" href="#">Sites</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-color" href="#">Accueil</a>
                            </li>
                            <li class="nav-item utilisateur">
                                <img alt="logo" class="avatar" src="{{ asset('build/images/user.svg') }}">
                                <a class="nav-link nav-link-color scroll" href="#">
                                    Bonjour <strong>"Prénom"</strong> !
                                </a>
                                <a class="nav-link nav-link-color scroll" href="#">
                                    <img alt="logout" class="logout"  src="{{ asset('build/images/cancel.svg') }}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    {{ encore_entry_script_tags('app') }}
</html>
