{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>

    <div id="path_adrUser" data-path="{{ path('user_recherche') }}"></div>
    <h3>Filtrer les utilisateurs</h3>
    <form id="rechercheUser">
        <div class="d-inline-block">
            <input type="text" name="recherche" class="form-control" id="rechercher">
        </div>
        <div class="d-inline-block">
            <img alt="rechercher" class="recherche" src="{{ asset('build/images/loupe.svg') }}">
        </div>
    </form>

    <div id="resultat">
        {% if rechercher is defined %}
        <div class="text-center">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Ville de rattachement</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                {% for user in listeUsers %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>0{{ user.telephone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.site }}</td>
                        <td>
                            <div class="d-inline-block">
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">
                                    <img alt="plus" class="plus" src="{{ asset('build/images/look.svg') }}"></a>
                            </div>
                            <div class="d-inline-block">
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">
                                    <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                            </div>
                            <div class="d-inline-block">
                                {{ include('user/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="text-center">

            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Ville de rattachement</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.nom }}</td>
                        <td>0{{ user.telephone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.site }}</td>
                        <td>
                            <div class="d-inline-block">
                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">
                                    <img alt="plus" class="plus" src="{{ asset('build/images/look.svg') }}"></a>
                            </div>
                            <div class="d-inline-block">
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">
                                    <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                            </div>
                            <div class="d-inline-block">
                                {{ include('user/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('app_register') }}" class="bouton">
                <img alt="plus" class="plus" src="{{ asset('build/images/add.svg') }}"> Ajouter un utilisateur
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
